n.App {
  text-align: center;
}

.App-header {
  background: url("body.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.section {
  background: white;
  width: 800px;
  margin: 5px 0px;
  border-radius: 3px;
  top: 20px;
  position: relative;
  border: 1px solid #232323;
}
img.profile {
  height: 205px;
  width: 160px;
  display: block;
  border: 1px solid #232323;
  margin: 10px;
  border-radius: 3px;
  position: relative;
  float: left;
}
#tit {
  margin: 0px;
}
.section p span {
  color: #900404;
  font-size: 18px;
}
.section p,
.section b {
  color: #747474;
  font-family: initial;
  margin: 10px;
  font-size: 18px;
}
.circle {
  height: 15px;
  border-radius: 50px;
  width: 15px;
  border: 2px solid #008e00;
  float: left;
  margin-right: 10px;
}
.item-head h4 {
  font-size: 18px;
  margin: 0px;
}
.line {
  border-left: 2px solid #008e00;
  margin-left: 7px;
}
.line p {
  font-size: 14px;
}
